<%- include('../partials/header') %>
<%- include('../partials/menu') %>
    <div class="container">
      <h1>Pong Without Friends</h1>
      <div class="jumbotron pong">
        <h2 class="display-4">Summary</h2>
        <p class="lead">Everyone loves pong but not everyone has friends. Thats why the 1 man development team Coe & co. has developed the perfect game for these anti-social times. Pong Without Friends is a thrilling solo experence that gets more chanllenging as the game progresses. Its mostly a skill based game with some random elements to keep the gameplay fresh.</p>
        <hr class="my-4">
      </div>
      <h2>Instructions</h2>
      <p>GOAL:
        <br>
      Keep the ball on screen as long a possible. Every time the ball hits your paddle you will get a point. If the ball goes through the bottom of the screen the score will reset and the game will start again. High scores will be saved under your name.
      </p>
      <p>
        CONTROLS:
        <br>
        A = Move Left
        <br>
        D = Move Right
      </p>
    </div>
  </body>
</html>