<%- include('../partials/header') %>
<%- include('../partials/menu') %>
    <div class="container">
      <h1>Walking Simulator</h1>
      <div class="jumbotron walking">
        <h2 class="display-4">Summary</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing commodo elit at imperdiet. Massa tempor nec feugiat nisl pretium. Leo a diam sollicitudin tempor id eu nisl. Nulla aliquet porttitor lacus luctus accumsan tortor posuere. Lectus nulla at volutpat diam ut venenatis. Proin sed libero enim sed faucibus. Nibh tellus molestie nunc non blandit massa enim nec. Erat nam at lectus urna. Ante in nibh mauris cursus. Eget est lorem ipsum dolor. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin.</p>
        <hr class="my-4">
      </div>
      <h2>Instructions</h2>
      <p>Quisque id diam vel quam elementum. Aenean pharetra magna ac placerat vestibulum. Augue mauris augue neque gravida in fermentum et. Nunc sed augue lacus viverra vitae congue eu consequat ac. Posuere morbi leo urna molestie at elementum eu facilisis. Dictum non consectetur a erat nam at.</p>
      <p>Quam vulputate dignissim suspendisse in est ante in nibh. Tincidunt tortor aliquam nulla facilisi. Egestas diam in arcu cursus euismod quis viverra nibh. Tortor posuere ac ut consequat semper viverra nam.</p>
      <p>Tellus at urna condimentum mattis pellentesque id. Mauris ultrices eros in cursus turpis massa. Et ligula ullamcorper malesuada proin.</p>
    </div>
  </body>
</html>