<%- include('../partials/header') %>
<%- include('../partials/menu') %>
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <div class="card border-dark gamelink">
            <a href="/blackjack"><img class="card-img-top" src="../../resources/img/blackjack.jpg" alt="snake game" height="400px" width="300px"></a>
          </div>
        </div>
        <div class="col-lg">
          <div class="card border-dark gamelink">
            <a href="/snakeGame"><img class="card-img-top" src="../../resources/img/snake.png" alt="black jack" height="400px" width="300px">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg">
          <div class="card border-dark gamelink">
            <a href="/helicopterGame"><img class="card-img-top" src="../../resources/img/helicopter.jpg" alt="helicopter game" height="400px" width="300px"></a>
          </div>
        </div>
        <div class="col-lg">
          <div class="card border-dark gamelink">
            <a href="/walkingSim"><img class="card-img-top" src="../../resources/img/walkingTitle.png" alt="walking simulator game" height="400px" width="300px"></a>
          </div>
        </div>
        <div class="col-lg">
          <div class="card border-dark gamelink">
            <a href="/pong"><img class="card-img-top" src="../../resources/img/pong.png" alt="walking simulator game" height="400px" width="300px"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>